html, body {
    margin: 0;
    height: 100%;
}

iframe {
    border: none;
}

#sidebarIframe {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    border: none;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

#sidebarIframe.show {
    left: 0;
}

#toggleSidebar {
    position: fixed;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px 15px;
    background-color: #0f1115;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1100;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    transition: background-color 0.3s;
}

#toggleSidebar:hover {
    background-color: #2a62fc;
}
