/* Reset e corpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #222;
  color: #fff;
  padding: 80px 20px 20px 20px; /* aumenta o padding-top para descer o conteúdo */
  position: fixed;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

/* Título */
.sidebar h2 {
  margin: 0 0 30px 0;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #2a62fc; /* destaque azul fitness */
}

/* Caixa de busca */
.search-box {
  margin-bottom: 30px;
}

.search-box input {
  width: 90%;
  padding: 10px;
  background: #111;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 12px;
  color: #ccc;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.menu li a:hover {
  background: #2a62fc;
  color: #222;
  font-weight: bold;
}

/* Conteúdo principal (opcional) */
.main-content {
  margin-left: 270px; /* espaço para a sidebar */
  padding: 20px;
}
